@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::after,
::before {
  box-sizing: border-box;
}

body{
  margin:0;    
}

.main{
  display: flex; 
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;        
}

.boxes{
  display: flex;
  flex-grow: 1;
  flex-direction: column;    
  align-items: center;  
  gap:1rem;   
}

.box:nth-of-type(2n){
  transform: translate(-400%);
}

.box{    
  background-color: #004ca8ce;
  padding:3rem;
  width:450px;
  border-radius: 12px;
  color:whitesmoke;
  text-align: center;
  font-size: 1.75rem;
  transform: translate(400%);
  transition: transform 0.4s ease;
}

.box.show{
  transform: translateX(0);
}